[format]
	pretty = format:%C(bold yellow)%h %C(bold green)%<(7)%aN%C(bold red)%d %C(bold blue)%ci%x08%x08%x08%x08%x08%x08 %Creset%s
[color]
	ui = true
[alias]
	st = status
	co = checkout
	cm = commit -m
	addm = !git add -u && git status
	addn = !git add . && git status
	graph = log --graph --decorate --all
	gr = log --graph --decorate
	amend = commit --amend
	f = fetch --all --prune
	sync = !git fetch --all --prune && git graph
	ps = push
	psm = push origin master
	psn = push origin next
[push]
	default = upstream
[user]
	name = Dylan
	email = leblondylan@hotmail.com
[credential]
	helper = cache
[core]
	excludesfile = /home/Dylan/.gitignore_global
	editor = emacs
